{% extends 'base.html' %}

{% block contenido %}
<div class="position-relative text-center">
    <img src="https://img.freepik.com/premium-photo/healthy-foods-background-with-copy-space-banner-card-generative-ai_159242-26737.jpg?w=2000"
        class="w-100">
    <div class="position-absolute top-0 start-0 w-100 h-100 overflow-y-auto">

        <div class="card bg-black opacity-75 border-0 mx-auto mt-5" style="width: 850px;">
            <div class="card-header">
                <p class="fs-1 fw-bold text-light mt-1">Analizador de Alimentos <i class="bi bi-journal-text"></i></p>
                <p class="fs-4 fw-lighter text-light">Conoce lo que consumes</p>
            </div>

            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <form id="apiBuscador" method="post" action="{{url_for('api', name=' ', cal=0, pro=0, car=0)}}" class="d-flex my-1">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                name="busqueda" value="{{ request.form.get('busqueda', '') }}">
                            <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-4">

            {% if comidas %}
            <div id="carouselFoods" class="carousel slide">

                <div class="carousel-inner">

                    {% for x in comidas %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row justify-content-center">

                            {% for y in x %}
                            <div class="col-12 col-sm-6 col-md-3">

                                <a href="/api/{{y.name}}/{{y.calorias|int}}/{{y.proteina|int}}/{{y.carbo|int}}" class="text-decoration-none">
                                    <div class="card h-100 mb-3 border-0 rounded-4" style="background-color:#fff9db;">

                                        <div class="card-body d-flex flex-column">
                                            <h6 class="card-title fw-bold text-center">{{ y.name }}</h6>

                                            <hr class="my-2">

                                            <div class="d-flex justify-content-between mb-1">
                                                <span><i class="bi bi-fire me-1"></i>Calories</span>
                                                <span>
                                                    {{y.calorias}}
                                                </span>
                                            </div>

                                            <div class="d-flex justify-content-between mb-1">
                                                <span><i class="bi bi-egg-fried me-1"></i>Protein</span>
                                                <span>
                                                    {{y.proteina}}
                                                </span>
                                            </div>

                                            <div class="d-flex justify-content-between mb-3">
                                                <span><i class="bi bi-lightning-charge-fill"></i>Carbohidratos</span>
                                                <span>
                                                    {{y.carbo}}
                                                </span>
                                            </div>

                                            <div class="mt-auto pt-2 d-flex justify-content-end">
                                                <span class="badge rounded-pill text-bg-success">
                                                    ByUSDAfoodData
                                                    <i class="bi bi-fork-knife ms-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFoods"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselFoods"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
            {% endif %}

        </div>
        {% if name.strip() %}
        <div class="card border-0 bg-white shadow mx-auto my-3" style="width: 1000px;">
            <div class="card-body bg-black text-light fs-4 fw-bold">
                {{name}}
            </div>
            <div class="card-footer">

                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <small class="text-light-emphasis">Pro</small>
                        <small class="fw-semibold">
                            {{pro}}
                        </small>
                    </div>
                    <div class="progress bg-black rounded-5" style="height:10px;">
                        <div class="progress-bar {% if pro <= 5 %}
                        bg-success-subtle
                        {% elif pro >= 6 and pro <= 10 %}
                        bg-success
                        {% elif pro >= 11 and pro <= 15 %}
                        bg-warning
                        {% elif pro >= 16 %}
                        bg-danger
                        {% endif %}" 
                        style="width: {% if pro <= 5 %}
                        25%
                        {% elif pro >= 6 and pro <= 10 %}
                        50%
                        {% elif pro >= 11 and pro <= 15 %}
                        75%
                        {% elif pro >= 16 %}
                        100%
                        {% endif %};"></div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        {% if pro <= 5 %}
                        <span class="text-success"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad baja de proteinas</span>
                        {% elif pro >= 6 and pro <= 10 %}
                        <span class="text-success"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad promedio de proteinas</span>
                        {% elif pro >= 11 and pro <= 15 %}
                        <span class="text-warning"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad alta de proteinas</span>
                        {% elif pro >= 16 %}
                        <span class="text-danger"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad excesiva de proteinas</span>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <small class="text-light-emphasis">Kcal</small>
                        <small class="fw-semibold">
                            {{cal}}
                        </small>
                    </div>
                    <div class="progress bg-black rounded-5" style="height:10px;">
                        <div class="progress-bar {% if cal <= 99 %}
                        bg-success-subtle
                        {% elif cal >= 100 and cal <= 199 %}
                        bg-success
                        {% elif cal >= 200 and cal <= 274 %}
                        bg-warning
                        {% elif cal >= 275 %}
                        bg-danger
                        {% endif %}" 
                        style="width: 
                        {% if cal <= 99 %}
                        25%
                        {% elif cal >= 100 and cal <= 199 %}
                        50%
                        {% elif cal >= 200 and cal <= 274 %}
                        75%
                        {% elif cal >= 275 %}
                        100%
                        {% endif %};"></div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        {% if cal <= 99 %}
                        <span class="text-success"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad baja de calorias</span>
                        {% elif cal >= 100 and cal <= 199 %}
                        <span class="text-success"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad promedio de calorias</span>
                        {% elif cal >= 200 and cal <= 274 %}
                        <span class="text-warning"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad alta de calorias</span>
                        {% elif cal >= 275 %}
                        <span class="text-danger"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad excesiva de calorias</span>
                        {% endif %}
                    </div>
                    <div class="my-3">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <small class="text-light-emphasis">car</small>
                            <small class="fw-semibold">
                                {{car}}
                            </small>
                        </div>
                        <div class="progress bg-black rounded-5" style="height:10px;">
                            <div class="progress-bar {% if car <= 5 %}
                            bg-success-subtle
                            {% elif car >= 6 and car <= 20 %}
                            bg-success
                            {% elif car >= 21 and car <= 40 %}
                            bg-warning
                            {% elif car >= 41 %}
                            bg-danger
                            {% endif %}" 
                            style="width: {% if car <= 5 %}
                            25%
                            {% elif car >= 6 and car <= 20 %}
                            50%
                            {% elif car >= 21 and car <= 40 %}
                            75%
                            {% elif car >= 40 %}
                            100%
                            {% endif %};"></div>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            {% if car <= 5 %}
                            <span class="text-success"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad baja de carbohidratos</span>
                            {% elif car >= 6 and car <= 20 %}
                            <span class="text-success"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad promedio de carbohidratos</span>
                            {% elif car >= 21 and car <= 40 %}
                            <span class="text-warning"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad alta de carbohidratos</span>
                            {% elif car >= 41 %}
                            <span class="text-danger"><i class="bi bi-exclamation-circle"></i> Este alimento contiene una cantidad excesiva de carbohidratos</span>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <p class=" mt-3 small text-center text-secondary"><i class="bi bi-exclamation-circle-fill"></i> Cada alimento es analizado por 100g</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}