{% extends 'base.html' %}

{% block contenido %}

<div class="card text-bg-dark">
    <img src="https://img.freepik.com/premium-photo/vegan-goodies-white-background-with-copy-space_23-2148305803.jpg?w=1380"
        class="card-img">
    <div class="card-img-overlay">
        <div class="row">
            <p>ㅤㅤ</p>
            <div class="col-1"></div>
            <div class="col-10 d-flex flex-column justify-content-center align-items-center h-100 text-center position-absolute top-50 start-50 translate-middle">
                <div id="carouselExampleAutoplaying"
                    class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded"
                                style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://st2.depositphotos.com/5891300/9005/v/950/depositphotos_90056558-stock-illustration-balance-scales-with-food-comic.jpg"
                                            class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Control alimenticio</h5>
                                            <p class="card-text">Ingresa diferentes tipos de alimento y compara la cantidad de calorias y macronutrientes 
                                                (proteínas, carbohidratos, grasas).</p>
                                                <a class="btn btn-success text-light" href="/crtlComida" role="button">Ir a</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded"
                                style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://img.freepik.com/vector-premium/dibujado-mano-doodle-calendario-plegable-vector-estilo-arte-dibujos-animados-aislado_607987-881.jpg?w=2000"
                                            class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Plan alimenticio</h5>
                                            <p class="card-text">Elabora un plan semanal\mensual que incluya diferentes recetas de alimentacion saludable.</p>
                                            <a class="btn btn-success text-light" href="\calendary" role="button">Ir a</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded"
                                style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://static.vecteezy.com/system/resources/previews/000/627/598/large_2x/padlock-icon-symbol-sign-vector.jpg"
                                            class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Iniciar sesion</h5>
                                            <p class="card-text">Ya tienes una cuenta? inicia sesion.</p>
                                            <a class="btn btn-success text-light" href="/inciosecion" role="button">Ir a</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="mb-4">
                    <form id="buscar" method="post" action="{{url_for('buscar')}}" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="busqueda" 
                        value="{{ request.form.get('busqueda', '') }}" style="width: 250px;">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="container mt-4">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

{% endblock %}