{% extends 'base.html' %}

{% block contenido %}

<div class="card text-bg-dark">
    <img src="https://img.freepik.com/vector-gratis/fondo-dia-mundial-salud-dibujado-mano_23-2149306514.jpg" class="card-img">
    <div class="card-img-overlay">
        <div class="row">
    <p>ㅤㅤ</p>
    <div class="col-1"></div>
    <div class="col-10">
        <div id="carouselExampleAutoplaying" class="carousel slide position-absolute top-50 start-50 translate-middle" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card mb-3 shadow p-3 mb-5 bg-body-tertiary rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://st2.depositphotos.com/5891300/9005/v/950/depositphotos_90056558-stock-illustration-balance-scales-with-food-comic.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">1</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                            ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3 shadow p-3 mb-5 bg-body-tertiary rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://img.freepik.com/vector-premium/dibujado-mano-doodle-calendario-plegable-vector-estilo-arte-dibujos-animados-aislado_607987-881.jpg?w=2000" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">2</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                            ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3 shadow p-3 mb-5 bg-body-tertiary rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://static.vecteezy.com/system/resources/previews/000/627/598/large_2x/padlock-icon-symbol-sign-vector.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Iniciar sesion</h5>
                                    <p class="card-text">Ya tienes una cuenta? inicia sesion.</p>
                                    <a class="btn btn-success text-light" href="/inciosecion" role="button">Ir a</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-1"></div>
</div>
    </div>
</div>

{% endblock %}