{% extends 'base.html' %}

{% block contenido %}
<div class="position-relative text-center">
    <img src="https://img.freepik.com/premium-photo/healthy-foods-background-with-copy-space-banner-card-generative-ai_159242-26737.jpg?w=2000"
        class="w-100 h-100">
    <div class="d-flex justify-content-center align-items-center vh-100 position-absolute top-0 start-0 w-100 h-100 overflow-y-auto overflow-hidden">

        <div class="text-center">
            <!-- Ícono gigante -->
            <i class="bi bi-exclamation-triangle-fill text-warning" style="font-size: 140px;"></i>

            <!-- Texto gigante -->
            <h1 class="fw-bold mt-3" style="font-size: 48px;">
                Sección en proceso
            </h1>

            <p class="text-muted mt-2" style="font-size: 20px;">
                Esta parte aún está en desarrollo. Vuelve pronto.
            </p>
        </div>

    </div>
</div>
{% endblock %}