{% extends 'base.html' %}

{% block contenido %}
<div class="card text-bg-dark">
    <img src="https://img.freepik.com/premium-photo/vegan-goodies-white-background-with-copy-space_23-2148305803.jpg?w=1380"
        class="card-img">
    <div class="card-img-overlay">
        <div class="d-flex flex-column justify-content-center align-items-center h-100 text-center position-absolute top-50 start-50 translate-middle">
            <h1 class="text-dark mb-4">Bienvenido a tu espacio saludable</h1>
            <div class="d-grid gap-2 d-md-block">
                <a href="\principal" class="btn btn-primary btn-custom">Continuar como invitado</a>
                <a href="\registrosecion" class="btn btn-success btn-custom">Registrarme</a>
            </div>
        </div>


    </div>
</div>
{% endblock %}